<table class="table">
  <tr id="item_table_headings">
    <th class="col-xs-1"></th>
    <th class="col-xs-9">item <%= sort_link %></th>
    <th class="col-xs-1">aisle</th>
    <th class="col-xs-1"></th>
  </tr>
  <%= render partial: 'list_item', collection: @list_items %>
  <%= render partial: 'list_item', collection: @other_items %>
</table>
