<h1 class="with_submenu">
  <%= @store.name %>
</h1>
<div class="submenu">
  <%= link_to fa_icon_with_text('check-circle-o', 'mark all purchased'),
              mark_all_purchased_store_path(@store.id),
              class: 'subtitle',
              method: :post,
              data: { confirm: 'are you sure you want to mark all items purchased?' } %>
</div>
<div class="clear"></div>

<div id="items_list">
  <%= render 'add_item_form' %>
  <div id="items"><%= render 'items' %></div>
</div>

<div id="menupopup-modal" class="modal fade" tabindex="-1" style="display: none;"></div>

<script>
var blocksPerRow = 4;

$("body").on("keydown", function(e){
    var thisIndex = $(".selected").index();
    var newIndex = null;
    if(e.keyCode === 38) {
        // up
      alert('up');
       //newIndex = thisIndex - blocksPerRow;
    }
    else if(e.keyCode === 40) {
        // down
        alert('down');
        //newIndex = thisIndex + blocksPerRow;
    }
    // left = 37
    // right = 39
    //if(newIndex !== null) {
    //    $(".test").eq(newIndex).addClass("selected").siblings().removeClass("selected");
    //}
 });
 </script>
