<h1 class="with_submenu">
  <%= @store.name %>
</h1>
<div class="submenu">
  <%= link_to fa_icon_with_text('check-circle-o', 'mark all purchased'),
              mark_all_purchased_store_path(@store.id),
              class: 'subtitle',
              method: :post,
              data: { confirm: 'are you sure you want to mark all items purchased?' } %>
</div>
<div class="clear"></div>

<div id="items_list">
  <%= render 'add_item_form' %>
  <div id="items"><%= render 'items' %></div>
</div>

<a class="menupopup" data-toggle="modal">View Demo</a>

<div id="menupopup-modal" class="modal fade" tabindex="-1" style="display: none;"></div>
