body.aisles {
  ul#aisles-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li span.name {
      @extend .col-xs-3;
    }
    li span.description {
      @extend .col-xs-7;
    }
    li span.other_actions {
      @extend .col-xs-2;
    }
  }
  .handle:hover{cursor: move;}
}