body.stores {
  ul#stores_list {
    font-size: 1.3em;
  }
  div#items_list {
    tr {
      td.action {
        width : 20px;
      }
      td.name {
        width : 140px;
      }
      td.aisle {
        width : 40px;
        font-size: .8em;
      }
      td.notes {
        width : 140px;
        font-size: .8em;
      }
      td.more_actions {
        width : 40px;
      }
    }
    .sort_link {font-size: .7em; }
  }
  tr.item_table_headings th { background-color: #ddd; }
  tr.even td { background-color: #E7FFE7; }
  tr.needed td { background-color: #fff; }
  tr.not_needed td { background-color: #eee; }
  th { border-bottom: 1px solid #777; }
}

body#stores-show .modal {
  width: 240px;
}